WebContent/schemas/streamDocType.dtd

<!ELEMENT stream (name, attributes+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT attributes (attribute+)>
<!ELEMENT attribute (value+)>
<!ATTLIST attribute type (integer|text|enumerate) "enumerate">
<!ATTLIST attribute name NMTOKEN "attribute">
<!ELEMENT value (#PCDATA)>
<!ATTLIST value type (min|max|pattern|option) "option">
<!ATTLIST value length CDATA "0">
