WebContent/variations/models/variationDocType.dtd

<!ELEMENT variations ((profile+, transition*)+)>
<!ELEMENT profile (duration)>
<!ELEMENT transition (duration)>
<!ATTLIST profile type (standard|weighted) "standard">
<!ATTLIST profile rate CDATA "0">
<!ATTLIST transition type (linear|exponential|logarithmic) "linear">
<!ELEMENT duration (#PCDATA)>
